{%extends '../base.html'%}
{%block title%} Data Entry {%endblock%}

{%block navLinks%}
<li class="nav-links"><a href="{%url 'stu_personal_details'%}">Personal Details</a></li>
<li class="nav-links"><a href="">Companies</a></li>
<li class="nav-links"><a href="{%url 'logout'%}">Logout</a></li>
{%endblock%}

{%block content%}
<h1>Student Detail Entry</h1>
{%if user.is_spc%}
<p>You were redirected here because your personal details have not been entered yet and they are essential</p>
{%endif%}
    <form method="post">
        <ul class='messages'>
            {%for message in messages %}
                <li {%if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</li>
            {% endfor%}
        </ul>
        {%csrf_token%}
        {%for field in form%}
        
            <div class="fieldWrapper">
                <div class="field-label">
                    {%if not field.label == 'User'%}
                    {{field.label}}
                    {%endif%}
                </div>
                <div>
                    {{field}}
                </div>
            </div>
        {%endfor%}
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{%endblock%}