<head>
    <link rel="stylesheet" href="../static/css/header.css">
</head>
<header>
    <div class="header-content">
        <div class="logo"><img style="height: 7rem;width: 7rem;"
                src="https://scontent.fblr4-3.fna.fbcdn.net/v/t1.6435-9/87503689_111002383835295_3256861726187978752_n.png?_nc_cat=108&amp;ccb=1-5&amp;_nc_sid=09cbfe&amp;_nc_ohc=joJoEuK2r7UAX-K5KK3&amp;_nc_ht=scontent.fblr4-3.fna&amp;oh=acac6bab4aed6333fb3268f1823145e0&amp;oe=61D6BA2C"
                alt="Home">
        </div>
        <div class="head-info-container">
            <div class="head-text-container">
                <div><span style="font-size:16px;">Rashtreeya Sikshana Samithi Trust</span>
                </div>
                <div class="college-name"><span style="font-size:26px; font-weight: 700">R V College of Engineering</span>
                </div>
                <span style="font-size:12px;">Autonomous Institution
                    affiliated to Visvesvaraya Technological University, Belagavi</span>
            </div>
        </div>
    </div>
    <div class="header-banner"></div>
</header>